@charset "UTF-8";
/*==================================================*/
/* 前提css */
/*==================================================*/
a, article, blockquote, body, caption, dd, div, dl, dt, footer, h1, h2, h3, h4, h5, h6, header, html, iframe, img, li, nav, ol, p, pre, section, small, span, strong, table, td, th, tr, ul, figure {
  background: 0;
  border: 0;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: bottom; }

a, small, span, strong {
  vertical-align: baseline; }

article, footer, header, nav, section {
  display: block; }

li {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

address, th {
  font-style: normal; }

:focus, a:focus {
  outline: 0; }

br {
  letter-spacing: normal; }

textarea {
  resize: none; }

a {
  text-decoration: none; }

main img {
  height: auto;
  width: 100%; }

/*==================================================*/
/* レスポンシブ用css */
/*==================================================*/
.pc {
  display: block; }
  .pc.inline {
    display: inline; }
  .pc.flex {
    display: flex; }

.sp {
  display: none; }
  .sp.inline {
    display: none; }
  .sp.flex {
    display: none; }

@media (max-width: 768px) {
  .pc {
    display: none; }
    .pc.inline {
      display: none; }
    .pc.flex {
      display: none; }

  .sp {
    display: block; }
    .sp.inline {
      display: inline; }
    .sp.flex {
      display: flex; } }
/*==================================================

    1. common
    2. header
    3. main
    4. footer
    5. other

==================================================*/
/*==================================================
 1. common
==================================================*/
/* color */
/* font */
/* z-index */
/* development */
img:not([alt]) {
  outline: 3px dashed pink; }

/* Common Parts */
body {
  color: #363636;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: Regular; }

#body-wrapper {
  min-height: 100vh;
  position: relative; }

.pc {
  display: inherit !important; }
  @media (max-width: 768px) {
    .pc {
      display: none !important; } }

.pad {
  display: none !important; }
  @media (max-width: 768px) {
    .pad {
      display: inherit !important; } }

.sp {
  display: none !important; }
  @media (max-width: 480px) {
    .sp {
      display: inherit !important; } }

.header-nav__link {
  color: #363636;
  display: block; }

.header__logo, .cards .card__pic, .message__pic, .modals .modal__pic, .gototop__link img {
  width: 100%;
  height: auto; }

/*==================================================
 2. header
==================================================*/
.header {
  height: 100px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 1em;
  color: #363636;
  z-index: 20;
  box-sizing: border-box;
  border-bottom: 3px solid #f87108; }
  .header__wrapper {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__logo-wrapper {
    display: block;
    width: 392px;
    height: auto; }

.header-nav {
  height: 100%;
  max-width: 1200px;
  padding: 0 15px; }
  .header-nav__wrapper {
    display: flex;
    height: 100%;
    margin-right: -15px; }
  .header-nav__item {
    position: relative;
    height: 100%; }
    .header-nav__item:hover {
      box-sizing: border-box;
      border-bottom: 3px solid #f87108; }
  .header-nav__link {
    color: #363636;
    height: 100%;
    padding: 0 15px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
  @media (max-width: 768px) {
    .header-nav {
      padding: 0;
      position: absolute;
      left: 0;
      top: -1000px;
      width: 100%;
      z-index: -1; }
      .header-nav.active {
        top: 100px; }
      .header-nav__wrapper {
        flex-direction: column;
        width: 100%; }
      .header-nav__item {
        width: 100%; }
        .header-nav__item:not(:first-child)::before {
          content: "";
          width: 80%;
          height: 1px;
          background: #363636;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%); }
        .header-nav__item:hover {
          border-bottom: none; }
      .header-nav__link {
        padding: 20px 0;
        width: 100%;
        box-sizing: border-box;
        background: #fff;
        color: #363636; }
        .header-nav__link:hover {
          background: #363636;
          color: #fff; } }

.hamburger-btn {
  background: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  width: 52px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .hamburger-btn__line {
    display: block;
    width: 60%;
    height: 3px;
    background: #363636;
    border-radius: 3px;
    margin-top: 12px;
    position: relative; }
    .hamburger-btn__line::before, .hamburger-btn__line::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background: #363636;
      border-radius: 3px;
      position: absolute;
      left: 0; }
    .hamburger-btn__line::before {
      bottom: 8px; }
    .hamburger-btn__line::after {
      top: 8px; }
  .hamburger-btn__name {
    color: #e8884c;
    margin-top: 10px; }
  .hamburger-btn.active .hamburger-btn__line {
    background: transparent; }
    .hamburger-btn.active .hamburger-btn__line::before, .hamburger-btn.active .hamburger-btn__line::after {
      top: 0; }
    .hamburger-btn.active .hamburger-btn__line::before {
      transform: rotate(45deg); }
    .hamburger-btn.active .hamburger-btn__line::after {
      transform: rotate(-45deg); }

.cover-hamburger, .cover-modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  display: none; }
  .cover-hamburger.active, .cover-modal.active {
    display: block; }

.cover-modal {
  z-index: 12; }

/*==================================================
 3. main
==================================================*/
.mv {
  background: url("../img/mv.jpg") no-repeat center/cover;
  width: 100%;
  height: 800px; }
  .mv__mainCopy {
    display: block;
    height: 100%;
    font-size: 46px;
    font-weight: bold;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .mv__copyBlock {
    display: inline-block;
    padding: 14px 22px;
    background: #f87108; }
    .mv__copyBlock:not(:first-child) {
      margin-top: 30px; }
  @media (max-width: 768px) {
    .mv__mainCopy {
      font-size: 30px; }
    .mv__copyBlock {
      display: inline-block;
      padding: 10px 16px;
      background: #f87108; }
      .mv__copyBlock:not(:first-child) {
        margin-top: 30px; } }
  @media (max-width: 480px) {
    .mv__mainCopy {
      font-size: 6.25vw; }
    .mv__copyBlock {
      background: transparent;
      text-align: center;
      padding: 0; }
      .mv__copyBlock--sp {
        display: inline-block;
        padding: 10px 16px;
        background: #f87108; }
        .mv__copyBlock--sp:not(:first-child) {
          margin-top: 30px; } }

.copy {
  background: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 156px; }
  .copy__subCopy {
    font-size: 36px;
    color: #fff;
    text-align: center; }
  @media (max-width: 768px) {
    .copy__subCopy {
      font-size: 26px; } }
  @media (max-width: 480px) {
    .copy__subCopy {
      font-size: 5.4166666667vw;
      line-height: 1.4; } }

.inner {
  width: 100%;
  margin: 0 auto;
  margin-top: -15px;
  padding: 0 15px;
  box-sizing: border-box; }
  .inner--1024 {
    max-width: 1024px; }
  .inner--1200 {
    max-width: 1200px; }
  @media (max-width: 768px) {
    .inner {
      width: 95%; } }

.cards {
  display: flex; }
  .cards .card {
    background: #fff; }
    .cards .card--column3 {
      width: calc( (100% / 3) - (2% * 2) );
      margin-top: 15px;
      margin-left: 2%; }
    .cards .card--column2 {
      width: calc( (100% / 2) - 30px );
      margin-top: 15px; }
      .cards .card--column2:not(:first-child) {
        margin-left: 30px; }
    .cards .card__picWrapper {
      width: 100%;
      height: auto; }
    .cards .card__text-wrapper {
      padding: 18px 18px 26px; }
    .cards .card__text {
      margin-top: 26px; }
  @media (max-width: 768px) {
    .cards {
      flex-direction: column; }
      .cards--pic {
        flex-direction: row; }
      .cards .card {
        background: #fff; }
        .cards .card--column3 {
          width: 100%; }
        .cards .card--pic {
          width: calc( (100% / 3) - (2% * 2) ); }
        .cards .card--column2 {
          width: 100%; }
          .cards .card--column2:not(:first-child) {
            margin-left: 0;
            margin-top: 30px; }
        .cards .card__text-wrapper {
          padding: 18px 18px 26px; }
        .cards .card__text {
          margin-top: 26px; } }

.hh-orangeLine {
  font-size: 24px;
  text-align: center;
  padding-bottom: 8px;
  position: relative; }
  .hh-orangeLine::after {
    content: "";
    width: 92px;
    height: 2px;
    background: #f87108;
    display: block;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%); }

.text {
  font-size: 16px;
  line-height: 1.6; }
  .text--center {
    text-align: center; }

.works {
  background: #f5f5f5;
  padding-top: 52px;
  padding-bottom: 48px; }

.hh2 {
  text-align: center;
  font-size: 36px;
  margin-top: 42px;
  margin-bottom: 60px; }
  .hh2--black {
    color: #363636; }
  .hh2--white {
    color: #fff; }

.pictures {
  padding-bottom: 48px; }
  .pictures .cards {
    flex-wrap: wrap; }
  .pictures .card {
    cursor: pointer; }
    .pictures .card:hover {
      opacity: .7; }

.message {
  background: #f5f5f5;
  padding-top: 52px;
  padding-bottom: 48px; }
  .message__flexWrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch; }
  .message__text {
    width: 69%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .message__text--text {
      display: block; }
    .message__text--name {
      display: inline-block;
      width: 100%;
      text-align: right;
      margin-top: auto; }
  .message__picWrapper {
    width: 30%;
    height: auto; }
  @media (max-width: 768px) {
    .message__flexWrapper {
      display: flex;
      flex-direction: column-reverse;
      align-items: center; }
    .message__text {
      width: 100%;
      margin-top: 12px; }
    .message__picWrapper {
      width: 50%;
      height: auto; } }

.modals .modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #363636;
  z-index: 14; }
  .modals .modal__picWrapper {
    width: 452px;
    height: auto; }
  @media (max-width: 768px) {
    .modals .modal {
      width: 90%;
      height: auto; }
      .modals .modal__picWrapper {
        width: 100%;
        height: auto; } }

.about {
  background: url("../img/about_bg.jpg") no-repeat center/cover;
  padding-top: 52px;
  padding-bottom: 48px; }

.table {
  background: #fff;
  padding: 14px 22px; }
  .table__row {
    display: flex; }
    .table__row:not(:first-child) {
      border-top: 1px solid #363636; }
  .table__cell {
    line-height: 1.6;
    padding: 16px 22px; }
  .table__left {
    width: 20%; }
  .table__right {
    width: 80%; }
  .table .mail-address {
    text-decoration: underline; }
  @media (max-width: 480px) {
    .table {
      background: #fff;
      padding: 14px 22px; }
      .table__row {
        flex-direction: column;
        padding: 0; }
      .table__left {
        width: 100%;
        text-decoration: underline;
        padding-bottom: 0; }
      .table__right {
        width: 100%;
        padding-left: 32px;
        box-sizing: border-box; } }

.recruit {
  background: #f5f5f5;
  padding-top: 52px;
  padding-bottom: 48px; }
  .recruit .table__row:last-child {
    border-bottom: 1px solid #363636; }

.application {
  background: #fff;
  padding-top: 76px;
  padding-bottom: 50px; }
  .application .hh-orangeLine {
    margin-bottom: 44px; }
  @media (max-width: 480px) {
    .application .text {
      display: block;
      width: 95%;
      margin: 0 auto; } }

.documents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -24px;
  margin-left: -30px;
  padding-top: 40px;
  padding-bottom: 36px; }
  .documents .document {
    border: 1px solid #f87108;
    border-radius: 3px;
    display: flex;
    height: 80px;
    margin-top: 24px;
    margin-left: 30px; }
    .documents .document__num {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      background: #f87108;
      width: 80px; }
    .documents .document__text {
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1.6;
      width: 320px; }
      .documents .document__text--center {
        text-align: center; }
  @media (max-width: 480px) {
    .documents .document {
      width: 90%; }
      .documents .document__num {
        width: 20%; }
      .documents .document__text {
        width: 80%; } }

.mailingAddress {
  background: #fff;
  padding-bottom: 54px; }
  .mailingAddress .hh-orangeLine {
    margin-bottom: 44px; }

.access iframe {
  width: 100% !important;
  margin-top: 8px; }

.contact-btn {
  width: 480px;
  height: 64px;
  margin: 96px auto 156px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  background: #f87108;
  border-radius: 3px; }
  .contact-btn:hover {
    opacity: .7; }
  .contact-btn span {
    position: relative; }
    .contact-btn span::after {
      font-family: "Font Awesome 5 Free";
      content: "\f35a";
      font-weight: 400;
      font-size: 28px;
      color: #fff;
      position: absolute;
      right: -44px;
      top: 52%;
      transform: translateY(-50%); }
  @media (max-width: 768px) {
    .contact-btn {
      width: 90%;
      font-size: 3.6458333333vw; } }

/*==================================================
 4. footer
==================================================*/
.global-footer {
  width: 100%;
  height: 40px;
  background: #363636;
  display: flex;
  align-items: center; }
  .global-footer__copyright {
    color: #fff;
    display: block;
    margin: 0 auto;
    font-size: 12px; }

/*==================================================
 5. other
==================================================*/
.gototop__link {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 14.7916666667vw;
  bottom: 8.3333333333vw; }
  .gototop__link:hover {
    opacity: .7; }
@media (max-width: 768px) {
  .gototop__link {
    right: 7.8125vw;
    bottom: 7.8125vw; } }
