@charset "UTF-8";
@import "_default";
@import "_general";
/*@import "_animation";*/


/*==================================================

    1. common
    2. header
    3. main
    4. footer
    5. other

==================================================*/


/*==================================================
 1. common
==================================================*/

/* color */
$black: #363636;
$orange: #f87108;
$main-color: #e8884c;
$sub-color: #c8e4ff;

/* font */
$NotoSans: 'Noto Sans JP', sans-serif;
$Roboto: 'Roboto', sans-serif;

/* z-index */
$z-header: 20;
$z-header-menu: 18;
$z-cover: 15;

/* development */
img:not([alt]){
    outline: 3px dashed pink;
}

/* Common Parts */
body {
    color: $black;
    font-size: 16px;
    box-sizing: border-box;
	font-family: $NotoSans;
	font-weight: Regular;
}

#body-wrapper {
    min-height: 100vh;
    position: relative;
}

.pc {
    display: inherit!important;
    @include pad {
        display: none!important;
    }
}
.sp {
    display: none!important;
    @include pad {
        display: inherit!important;
    }
}

%link {
    color: $black;
    display: block;
}
%img {
    width: 100%;
    height: auto;
}

/*==================================================
 2. header
==================================================*/

.header {
    height: 100px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 1em;
    color: $black;
    z-index: $z-header;
	box-sizing: border-box;
	border-bottom:3px solid $orange;
	&__wrapper {
		max-width: 1200px;
		height: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
    &__logo-wrapper {
        display: block;
        width: 200px;
        height: auto;
    }
    &__logo {
        @extend %img;
    }
}

.header-nav {
    height: 100%;
	max-width: 1200px;
	padding: 0 15px;
    &__wrapper {
        display: flex;
        height: 100%;
		margin-right: -15px;
    }
    &__item {
        position: relative;
        height: 100%;
		&:hover {
			box-sizing: border-box;
			border-bottom: 3px solid $orange;
		}
    }
    &__link {
        @extend %link;
        color: $black;
        height: 100%;
        padding: 0 15px;
		font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
		&:hover {
			margin-top: 1px;
			opacity: .6;
		}
    }
    
    @include pad {
        position: absolute;
        left: 0;
        top: -1000px;
        width: 100%;
        //z-index: $z-header-menu;
        z-index: -1;
        &.active {
            top: 60px;
        }
        &__wrapper {
            flex-direction: column;
            width: 100%;
        }
        &__item {
            width: 100%;
            &::before, &:not(:first-child)::before {
                content: "";
                width: 95%;
                height: 1px;
                background: #fff;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__link {
            padding: 20px 0;
            width: 100%;
            box-sizing: border-box;
            background: $main-color;
            &:hover { 
                background: $sub-color;
                opacity: 1;
                color: $black;
            }
        }
        
    }
}

.hamburger-btn {
    background: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    width:52px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__line {
        display: block;
        width: 60%;
        height: 3px;
        background: $main-color;
        border-radius: 3px;
        margin-top: 12px;
        position: relative;
        &::before, &::after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background: $main-color;
            border-radius: 3px;
            position: absolute;
            left: 0;
        }
        &::before {
            bottom: 8px;
        }
        &::after {
            top: 8px;
        }
    }
    &__name {
        color: #e8884c;
        margin-top: 10px;
    }
    &.active .hamburger-btn__line {
        background: transparent;
        &::before, &::after {
            top: 0;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
}

.cover {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-cover;
    display: none;
    &.active {
        display: block;
    }
}

/*==================================================
 3. main
==================================================*/

.mv {
	background: url("../img/mv.jpg") no-repeat center / cover;
	width: 100%;
	height: 800px;
	&__mainCopy {
		display: block;
		height: 100%;
		font-size: 46px;
		font-weight: bold;
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__copyBlock {
		display: inline-block;
		padding: 14px 22px;
		background: $orange;
		&:not(:first-child) {
			margin-top: 30px;
		}
	}
}

.copy {
	background: $black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 156px;
	&__subCopy {
		font-size: 36px;
		color: #fff;
		text-align: center;
	}
}

.inner {
	width: 100%;
	margin: 0 auto;
	margin-top: -15px;
	padding: 0 15px;
	box-sizing: border-box;
	&--1200 {
		max-width: 1200px;
	}
}

.cards {
	display: flex;
	max-width: 1200px;
	.card {
		background: #fff;
		&--column3 {
			width: calc( (100% / 3) - (2% * 2) );
			margin-top: 15px;
			margin-left: 2%;
		}
		&--column2 {
			
		}
		&__picWrapper {
			width: 100%;
			height: auto;
		}
		&__pic {
			@extend %img;
		}
		&__text-wrapper {
			padding: 18px 18px 26px;
		}
		&__text {
			margin-top: 26px;
		}
	}
}

.hh-orangeLine {
	font-size: 24px;
	text-align: center;
	padding-bottom: 26px;
	position: relative;
	&::after {
		content: "";
		width: 92px;
		height: 2px;
		background: $orange;
		display: block;
		position: absolute;
		bottom: -2px;
		left: 50%;
		transform: translateX(-50%);
	}
}
.text {
	font-size: 16px;
	line-height: 1.6;
}
.works {
	background: #f5f5f5;
	padding-top: 52px;
	padding-bottom: 48px;
}

hh2 {
	&--black {
		color: $black;
	}
	&--white {
		color: #fff;
	}
}

.pictures {
	.cards {
		flex-wrap: wrap;
		.card {
		}
	}
}
/*==================================================
 4. footer
==================================================*/

.global-footer {
    width: 100%;
    height: 40px;
    background: $main-color;
    display: flex;
    align-items: center;
    &__copyright {
        color: #fff;
        display: block;
        margin: 0 auto;
        font-size: 12px;
    }
}

/*==================================================
 5. other
==================================================*/
.gototop {
    &__link {
        position: fixed;
        right: 30px;
        bottom: 70px;
        width: 70px;
        height: 70px;
        background: #fff;
        border-radius: 50%;
        border: 1px solid $black;
        justify-content: center;
        align-items: center;
        &:hover {
            background: $sub-color;
        } 
    }
    &__icon {
        width: 100%;
        height: 100%;
        color: $black;
        position: relative;
        &::before {
            font-size: 32px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    
}


