@charset "UTF-8";
@import "_default";
@import "_general";

/*==================================================

    1. common
    2. header
    3. main
    4. footer
    5. other

==================================================*/


/*==================================================
 1. common
==================================================*/

/* color */
$black: #363636;
$orange: #f87108;
$main-color: #e8884c;
$sub-color: #c8e4ff;

/* font */
$NotoSans: 'Noto Sans JP', sans-serif;
$Roboto: 'Roboto', sans-serif;

/* z-index */
$z-header: 20;
$z-header-menu: 18;
$z-cover: 15;

/* development */
img:not([alt]){
    outline: 3px dashed pink;
}

/* Common Parts */
body {
    color: $black;
    font-size: 16px;
    box-sizing: border-box;
	font-family: $NotoSans;
	font-weight: Regular;
}

#body-wrapper {
    min-height: 100vh;
    position: relative;
}

.pc {
    display: inherit!important;
    @include pad {
        display: none!important;
    }
}

.pad {
	display: none!important;
    @include pad {
        display: inherit!important;
    }
}

.sp {
    display: none!important;
    @include sp {
        display: inherit!important;
    }
}

%link {
    color: $black;
    display: block;
}
%img {
    width: 100%;
    height: auto;
}

/*==================================================
 2. header
==================================================*/

.header {
    height: 100px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 1em;
    color: $black;
    z-index: $z-header;
	box-sizing: border-box;
	border-bottom:3px solid $orange;
	&__wrapper {
		max-width: 1200px;
		height: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
    &__logo-wrapper {
        display: block;
        width: 392px;
        height: auto;
    }
    &__logo {
        @extend %img;
    }
}

.header-nav {
    height: 100%;
	max-width: 1200px;
	padding: 0 15px;
    &__wrapper {
        display: flex;
        height: 100%;
		margin-right: -15px;
    }
    &__item {
        position: relative;
        height: 100%;
		&:hover {
			box-sizing: border-box;
			border-bottom: 3px solid $orange;
		}
    }
    &__link {
        @extend %link;
        color: $black;
        height: 100%;
        padding: 0 15px;
		font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    @include pad {
		padding: 0;
        position: absolute;
        left: 0;
        top: -1000px;
        width: 100%;
        //z-index: $z-header-menu;
        z-index: -1;
        &.active {
            top: 100px;
        }
        &__wrapper {
            flex-direction: column;
            width: 100%;
        }
        &__item {
            width: 100%;
            &:not(:first-child)::before {
                content: "";
                width: 80%;
                height: 1px;
                background: $black;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
			&:hover {
				border-bottom: none;
			}
        }
        &__link {
            padding: 20px 0;
            width: 100%;
            box-sizing: border-box;
            background: #fff;
			color: $black;
            &:hover { 
                background: $black;
				color: #fff;
            }
        }
        
    }
}

.hamburger-btn {
    background: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    width:52px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__line {
        display: block;
        width: 60%;
        height: 3px;
        background: $black;
        border-radius: 3px;
        margin-top: 12px;
        position: relative;
        &::before, &::after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background: $black;
            border-radius: 3px;
            position: absolute;
            left: 0;
        }
        &::before {
            bottom: 8px;
        }
        &::after {
            top: 8px;
        }
    }
    &__name {
        color: #e8884c;
        margin-top: 10px;
    }
    &.active .hamburger-btn__line {
        background: transparent;
        &::before, &::after {
            top: 0;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
}

.cover-hamburger, .cover-modal {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-cover;
    display: none;
    &.active {
        display: block;
    }
}
.cover-modal { z-index: 12; }

/*==================================================
 3. main
==================================================*/

.mv {
	background: url("../img/mv.jpg") no-repeat center / cover;
	width: 100%;
	height: 800px;
	&__mainCopy {
		display: block;
		height: 100%;
		font-size: 46px;
		font-weight: bold;
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__copyBlock {
		display: inline-block;
		padding: 14px 22px;
		background: $orange;
		&:not(:first-child) {
			margin-top: 30px;
		}
	}
	
	@include pad {
		&__mainCopy {
			font-size: 30px;
		}
		&__copyBlock {
			display: inline-block;
			padding: 10px 16px;
			background: $orange;
			&:not(:first-child) {
				margin-top: 30px;
			}
		}
	}
	
	@include sp {
		&__mainCopy {
			font-size: vw_sp(30);
		}
		&__copyBlock {
			background: transparent;
			text-align: center;
			padding: 0;
			&--sp {
				display: inline-block;
				padding: 10px 16px;
				background: $orange;
				&:not(:first-child) {
					margin-top: 30px;
				}
			}
		}
	}
}

.copy {
	background: $black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 156px;
	&__subCopy {
		font-size: 36px;
		color: #fff;
		text-align: center;
	}
	
	@include pad {
		&__subCopy {
			font-size: 26px;
		}
	}
	
	@include sp {
		&__subCopy {
			font-size: vw_sp(26);
			line-height: 1.4;
		}
	}
}

.inner {
	width: 100%;
	margin: 0 auto;
	margin-top: -15px;
	padding: 0 15px;
	box-sizing: border-box;
	&--1024 {
		max-width: 1024px;
	}
	&--1200 {
		max-width: 1200px;
	}
	@include pad {
		width: 95%;
	}
}

.cards {
	display: flex;
	.card {
		background: #fff;
		&--column3 {
			width: calc( (100% / 3) - (2% * 2) );
			margin-top: 15px;
			margin-left: 2%;
		}
		&--column2 {
			width: calc( (100% / 2) - 30px );
			margin-top: 15px;
			&:not(:first-child) { margin-left: 30px; }
		}
		&__picWrapper {
			width: 100%;
			height: auto;
		}
		&__pic {
			@extend %img;
		}
		&__text-wrapper {
			padding: 18px 18px 26px;
		}
		&__text {
			margin-top: 26px;
		}
	}
	
	@include pad {
		flex-direction: column;
		&--pic {
			flex-direction: row;
		}
		.card {
			background: #fff;
			&--column3 {
				width: 100%;
			}
			&--pic {
				width: calc( (100% / 3) - (2% * 2) );
			}
			&--column2 {
				width: 100%;
				&:not(:first-child) {
					margin-left: 0;
					margin-top: 30px;
				}
			}
			&__text-wrapper {
				padding: 18px 18px 26px;
			}
			&__text {
				margin-top: 26px;
			}
		}
	}
}

.hh-orangeLine {
	font-size: 24px;
	text-align: center;
	padding-bottom: 8px;
	position: relative;
	&::after {
		content: "";
		width: 92px;
		height: 2px;
		background: $orange;
		display: block;
		position: absolute;
		bottom: -2px;
		left: 50%;
		transform: translateX(-50%);
	}
}
.text {
	font-size: 16px;
	line-height: 1.6;
	&--center {
		text-align: center;
	}
}
.works {
	background: #f5f5f5;
	padding-top: 52px;
	padding-bottom: 48px;
}

.hh2 {
	text-align: center;
	font-size: 36px;
	margin-top: 42px;
	margin-bottom: 60px;
	&--black {
		color: $black;
	}
	&--white {
		color: #fff;
	}
}

.pictures {
	padding-bottom: 48px;
	.cards {
		flex-wrap: wrap;
	}
	.card {
		cursor: pointer;
		&:hover {
			opacity: .7;
		}
	}
}

.message {
	background: #f5f5f5;
	padding-top: 52px;
	padding-bottom: 48px;
	&__flexWrapper {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}
	&__text {
		width: 69%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		&--text {
			display: block;
		}
		&--name {
			display: inline-block;
			width: 100%;
			text-align: right;
			margin-top: auto;
		}
	}
	&__picWrapper {
		width: 30%;
		height: auto;
	}
	&__pic {
		@extend %img;
	}
	
	@include pad {
		&__flexWrapper {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
		}
		&__text {
			width: 100%;
			margin-top: 12px;
		}
		&__picWrapper {
			width: 50%;
			height: auto;
		}
	}
}

.modals {
	.modal {
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: #fff;
		padding: 15px;
		box-sizing: border-box;
		border: 1px solid $black;
		z-index: 14;
		&__picWrapper {
			width: 452px;
			height: auto;
		}
		&__pic {
			@extend %img;
		}
		
		@include pad {
			width: 90%;
			height: auto;
			&__picWrapper {
			width: 100%;
			height: auto;
		}
		}
	}
}

.about {
	background: url("../img/about_bg.jpg") no-repeat center / cover;
	padding-top: 52px;
	padding-bottom: 48px;
}

.table {
	background: #fff;
	padding: 14px 22px;
	&__row {
		display: flex;
		&:not(:first-child) {
			border-top: 1px solid $black;
		}
	}
	&__cell {
		line-height: 1.6;
		padding: 16px 22px;
	}
	&__left {
		width: 20%;
	}
	&__right {
		width: 80%;
	}
	.mail-address {
		text-decoration: underline;
	}
	
	@include sp {
		background: #fff;
		padding: 14px 22px;
		&__row {
			flex-direction: column;
			padding: 0;
		}
		&__left {
			width: 100%;
			text-decoration: underline;
			padding-bottom: 0;
		}
		&__right {
			width: 100%;
			padding-left: 32px;
			box-sizing: border-box;
		}
	}
}

.recruit {
	background: #f5f5f5;
	padding-top: 52px;
	padding-bottom: 48px;
	.table__row {
		&:last-child {
			border-bottom: 1px solid $black;
		}
	}
}

.application {
	background: #fff;
	padding-top: 76px;
	padding-bottom: 50px;
	.hh-orangeLine {
		margin-bottom: 44px;
	}
	@include sp {
		.text {
			display: block;
			width: 95%;
			margin: 0 auto;
		}
	}
}

.documents {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: -24px;
	margin-left: -30px;
	padding-top: 40px;
	padding-bottom: 36px;
	
	.document {
		border: 1px solid $orange;
		border-radius: 3px;
		display: flex;
		height: 80px;
		margin-top: 24px;
		margin-left: 30px;
		&__num {
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			background: $orange;
			//border-radius: 3px 0 0 3px;
			width: 80px;
			
		}
		&__text {
			display: flex;
			justify-content: center;
			align-items: center;
			line-height: 1.6;
			width: 320px;
			&--center {
				text-align: center;
			}
		}
	}
	
	@include sp {
		.document {
			width: 90%;
			&__num {
				width: 20%;
			}
			&__text {
				width: 80%;
			}
		}
	}
}

.mailingAddress {
	background: #fff;
	padding-bottom: 54px;
	.hh-orangeLine {
		margin-bottom: 44px;
	}
}

.access {
	iframe {
		width: 100%!important;
		margin-top: 8px;
	}
}

.contact-btn {
	width: 480px;
	height: 64px;
	margin: 96px auto 156px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 28px;
	font-weight: bold;
	background: $orange;
	border-radius: 3px;
	&:hover {
		opacity: .7;
	}
	span {
		position: relative;
		&::after {
			font-family: "Font Awesome 5 Free";
			content: "\f35a";
			font-weight: 400;
			font-size: 28px;
			color: #fff;
			position: absolute;
			right: -44px;
			top: 52%;
			transform: translateY(-50%);		
		}
	}
	
	@include pad {
		width: 90%;
		font-size: vw_pad(28);
	}
}
/*==================================================
 4. footer
==================================================*/

.global-footer {
    width: 100%;
    height: 40px;
    background: $black;
    display: flex;
    align-items: center;
    &__copyright {
        color: #fff;
        display: block;
        margin: 0 auto;
        font-size: 12px;
    }
}

/*==================================================
 5. other
==================================================*/
.gototop {
    &__link {
		width: 50px;
		height: 50px;
        position: fixed;
        right: vw(284);
        bottom: vw(160);
		img {
			@extend %img;
		}
        &:hover {
            opacity: .7;
        } 
    }   
	
	@include pad {
		 &__link {
			right: vw_pad(60);
			bottom: vw_pad(60);
		}   
	}
}


